In [90]:
from selenium import webdriver
from webdriver_manager.microsoft import EdgeChromiumDriverManager
from selenium.webdriver.edge.service import Service as EdgeService
from selenium.webdriver.common.keys import Keys
import pandas as pd
from time import sleep

In [57]:
navegador = webdriver.Edge(service=EdgeService(EdgeChromiumDriverManager().install()))

In [10]:
df = pd.read_excel('./Clientes_ativos.xlsx')
df

,Nome do Cliente,Número Telefone,Número Whatsapp,Quantidade de Pedidos,Dias de Inatividade
0,Solange Barbosa,13997438855,5.513997e+12,2,0
1,Rayssa Fernanda,13988537026,5.513989e+12,13,1
2,Tania pereira,13991456044,5.513991e+12,4,2
3,Mirella,13997548181,5.513998e+12,2,2
4,Rose santos,13997360754,NaN,1,9
5,Joao Pedro Paiao,13992038006,5.513992e+12,0,9
6,Duda Borel,13988627838,NaN,1,12
7,Leticia Felix,13996621145,5.513997e+12,1,13
8,Robson Lopes,13991197405,NaN,1,13
9,MARCIO,13997230559,5.513997e+12,0,20
10,Não identificado,13982027257,NaN,1,23
11,Sabrina Moura,13991311885,NaN,1,27
12,Jheniffer Almeida,13997742457,NaN,2,27
13,Hebilin,13991704680,5.513992e+12,1,27
14,Larissa agatha,13988341268,5.513988e+12,2,27
15,Guilherme Soares,13981286804,5.513981e+12,2,28

In [93]:
navegador.get("https://instadelivery.com.br/adoradagourmet/cadastro")
sleep(3)

campo_numero = navegador.find_element('xpath', '//*[@id="app"]/div[3]/div[2]/div/form/div[1]/div/input')
campo_salvar = navegador.find_element('xpath', '//*[@id="app"]/div[3]/div[2]/div/form/button')
campo_nome = navegador.find_element('xpath', '//*[@id="app"]/div[3]/div[2]/div/form/div[2]/div/input')
sleep(3)

for i in df.index:
    nome = df.loc[i, "Nome do Cliente"]
    numero = df.loc[i, "Número Telefone"]

    campo_numero.send_keys(int(numero))
    campo_nome.send_keys(nome)
    campo_salvar.click()
    sleep(1)

    campo_nome.send_keys(Keys.CONTROL + "a")
    campo_nome.send_keys(Keys.DELETE)
    campo_nome.clear()
    campo_numero.clear()
    sleep(1)